################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sqlite
/.vs/cloud-reference-architectures/v16
/.vs/cloud-reference-architectures/config
